{% extends 'base.html' %}
{% load static %}
{% block content %}
    <main class="main-content">
				<div class="container">
					<div class="breadcrumb">
						<a href="{% url 'home'%}">Home</a>
						<span>Contact</span>
					</div>
				</div>

				<div class="fullwidth-block">
					<div class="container">
						<div class="col-md-5">
							<div class="contact-details">
								<div class="map" data-latitude="-6.897789" data-longitude="107.621735"></div>
								<div class="contact-info">
									<address>
										<!-- <img width="100px" height= " 100px" src="{% static 'img/arch.jpg' %}" alt=""> -->
										<p>Gambia Department of Water Resource<br>
										14 Marina Parade,Banjul, The Gambia</p>
									</address>
									
									<a href="#"><img src="images/icon-phone.png" alt="">+1 800 314 235</a>
									<a href="#"><img src="images/icon-envelope.png" alt="">contact@companyname.com</a>
								</div>
							</div>
						</div>
						<div class="col-md-6 col-md-offset-1">
							<h2 class="section-title">Contact us</h2>
							<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Commodi consectetur inventore ducimus, facilis, numquam id soluta omnis eius recusandae nesciunt vero repellat harum cum. Nisi facilis odit hic, ipsum sed!</p>
							<form action="{% url 'contacts' %} " method="post" class="contact-form">
								{% csrf_token %}
								<div class="row">
									<div class="col-md-6"><input type="text" name="name" placeholder="Your name..."></div>
									<div class="col-md-6"><input type="text" name="email" placeholder="Email Addresss..."></div>
								</div>
								<div class="row">
									<div class="col-md-12"><input type="text" name="company" placeholder="Company name..."></div>
								</div>
								<textarea name="text" placeholder="Message..."></textarea>
								<div class="text-right">
									<input type="submit" placeholder="Send message">
								</div>
							</form>

						</div>
					</div>
				</div>
				
			</main> <!-- .main-content -->
{% endblock content %}