{% extends 'base.html' %}
{% load static %}
{% block content %}
        <main class="main-content">
				<div class="container-fluid">
					<div class="breadcrumb">
						<a href="{% url 'home'%}">Home</a>
						<a href="{% url 'projects'%}">Projects</a>
						<span>{{project.title}}</span>
					</div>
				</div>
				

				<div class="fullwidth-block">
					<div class="container-fluid">
						<div class="row">
							<div class="content col-md-8">
								<div class="post single">
									<h2 class="entry-title">{{project.title}}</h2>
									<div class="featured-image"><img src="{{project.image.url}}" alt=""></div>
									
									<div class="entry-content">
                                    <p> {{project.content|safe}}</p>
									</div>

								</div>

							</div>
							<div class="sidebar col-md-3 col-md-offset-1">
								<div class="widget">
									<h3 class="widget-title">Latest Projects</h3>
									<ul class="arrow-list">
										<li><a href="#">Accusamus dignissimos</a></li>
										<li><a href="#">Ducimus praesentium</a></li>
										<li><a href="#">Voluptatum deleniti corrupti</a></li>
										<li><a href="#">Wuos dolores excepturi sint</a></li>
										<li><a href="#">Occaecati provident dolor</a></li>
									</ul>
								</div>
							</div>
						</div>
					</div>
				</div>
			</main> <!-- .main-content -->

{% endblock content %}