{% extends "base.html" %}
{% load static %}
{% block content %}
    <div class="hero" data-bg-image="{% static 'img/arch.jpg' %}">
        <div class="container">
            <form action=" {% url 'home'%}" method='GET' class="find-location">
                <input type="text" name='city' placeholder="Find your location...">
                <input type="submit" value="Find">
            </form>

        </div>
    </div>
    <div class="forecast-table">
				<div class="container-fluid">
					<div class="forecast-container">
						<div class="today forecast">
							<div class="forecast-header">
								<div class="day">Today</div>
								<div class="date"> {{c_weather.time}} </div>
							</div> <!-- .forecast-header -->
							<div class="forecast-content">
								<div class="location"> {{city}} </div>
								<div class="degree">
									<div class="num">{{c_weather.temp}}<sup>o</sup>C</div>
									<div class="forecast-icon">
										<img src="{{c_weather.icon}}" alt="" width=90>
									</div>
									<p>{{c_weather.status}}</p>	
								</div>
								<span><img src="images/icon-umberella.png" alt="">humidity: {{c_weather.humidity}}%</span>
								<span><img src="images/icon-wind.png" alt="">wind speed: {{c_weather.wind_speed}} m/s </span>
								{% comment %} <span><img src="images/icon-compass.png" alt="">wind direction: {{c_weather.wind_deg}}<sup>o</sup></span> {% endcomment %}
							</div>
						</div>

						{% for w in weather %}
						<div class="forecast">
							<div class="forecast-header">
								<div class="day"> {{w.time}} </div>
							</div> <!-- .forecast-header -->
							<div class="forecast-content">
								<div class="forecast-icon">
									<img src=" {{w.icon}} " alt="" width=48>
								</div>
								<div class="degree"> {{w.temp_max}} <sup>o</sup>C</div>
								<small> {{w.temp_min}} <sup>o</sup>C</small>
							</div>
						</div>
						{% endfor %}
					</div>
				</div>
			</div>

			<div class="container">
				 <h2 id='daily-forecast'> Our Daily Weather Forecast</h2>
				 <div id="forecast_vid"> <iframe width="900" height="600"  src="https://www.youtube.com/embed/efis3JRvWxo" allowfullscreen></iframe> </div>
			</div>

	<section class="g-bg-secondary">
      <div class="container g-py-100">
		<h2 class="text-center text-lg">SERVICES</h2>
        <!-- Icon Blocks -->
        <div class="row">
          <div class="col-lg-6 g-mb-30">
            <!-- Icon Blocks -->
            <div class="u-shadow-v19 g-bg-white rounded g-pa-30">
              <div class="media g-mb-15">
                <div class="d-flex mr-4">
                  <span class="g-color-gray-dark-v4 g-font-size-26">
                    <i class="icon-communication-109 u-line-icon-pro"></i>
                  </span>
                </div>
                <div class="media-body">
				  <img width="450" height="275" class="rounded" src="{% static 'img/aviation.jpg' %}" alt="image">
                  <h3 class="h5 g-color-black mb-20">Aviation</h3>
                  <div class="g-width-30 g-brd-bottom g-brd-gray-dark-v5 g-my-15"></div>
                  <p class="g-color-gray-dark-v4 g-mb-0">Lorem ipsum, dolor sit amet consectetur adipisicing elit. Earum sapiente veniam aliquid, perferendis provident autem alias ex laudantium, unde fugit numquam soluta praesentium animi. Earum blanditiis nisi vero fugiat quam.</p>
                </div>
              </div>
              <a class="btn u-btn-primary g-brd-2 g-brd-white g-font-size-13 g-rounded-50 g-pl-20 g-pr-15 g-py-9" href="#">
                Read more
                <span class="align-middle u-icon-v3 g-width-16 g-height-16 g-color-black g-bg-white g-font-size-11 rounded-circle ml-3">
                  <i class="fa fa-angle-right"></i>
                </span>
              </a>
            </div>
            <!-- End Icon Blocks -->
          </div>

          <div class="col-lg-6 g-mb-30">
            <!-- Icon Blocks -->
            <div class="u-shadow-v19 g-bg-white rounded g-pa-30">
              <div class="media g-mb-15">
                <div class="d-flex mr-4">
                  <span class="g-color-gray-dark-v4 g-font-size-26">
                    <i class="icon-communication-076 u-line-icon-pro"></i>
                  </span>
                </div>
                <div class="media-body">
					<img width="450" height="275" class="rounded" src="{% static 'img/agro.jpg' %}" alt="image">
					<h3 class="h5 g-color-black mb-20">AgroMet</h3>
                  <div class="g-width-30 g-brd-bottom g-brd-gray-dark-v5 g-my-15"></div>
                  <p class="g-color-gray-dark-v4 g-mb-0">Lorem ipsum dolor sit amet consectetur adipisicing elit. Vero error enim explicabo, tenetur iste vitae voluptatum quae iusto. Repellendus dicta accusamus itaque vero dolorum inventore nihil nisi fugiat odio mollitia.</p>
                </div>
              </div>
              <a class="btn u-btn-primary g-brd-2 g-brd-white g-font-size-13 g-rounded-50 g-pl-20 g-pr-15 g-py-9" href="#">
                Read more
                <span class="align-middle u-icon-v3 g-width-16 g-height-16 g-color-black g-bg-white g-font-size-11 rounded-circle ml-3">
                  <i class="fa fa-angle-right"></i>
                </span>
              </a>
            </div>
            <!-- End Icon Blocks -->
          </div>
        </div>
        <!-- End Icon Blocks -->

        <!-- Icon Blocks -->
        <div class="row">
          <div class="col-lg-6 g-mb-30">
            <!-- Icon Blocks -->
            <div class="u-shadow-v19 g-bg-white rounded g-pa-30">
              <div class="media g-mb-15">
                <div class="d-flex mr-4">
                  <span class="g-color-gray-dark-v4 g-font-size-26">
                    <i class="icon-education-128 u-line-icon-pro"></i>
                  </span>
                </div>
                <div class="media-body">
					<img width="450" height="275" class="rounded" src="{% static 'img/hydro.jpg' %}" alt="image">
					<h3 class="h5 g-color-black mb-20">HydroMet</h3>
					<div class="g-width-30 g-brd-bottom g-brd-gray-dark-v5 g-my-15"></div>
					<p class="g-color-gray-dark-v4 g-mb-0">Lorem ipsum dolor sit amet consectetur adipisicing elit. Vero error enim explicabo, tenetur iste vitae voluptatum quae iusto. Repellendus dicta accusamus itaque vero dolorum inventore nihil nisi fugiat odio mollitia.</p>
				  </div>
              </div>
              <a class="btn u-btn-primary g-brd-2 g-brd-white g-font-size-13 g-rounded-50 g-pl-20 g-pr-15 g-py-9" href="#">
                Read more
                <span class="align-middle u-icon-v3 g-width-16 g-height-16 g-color-black g-bg-white g-font-size-11 rounded-circle ml-3">
                  <i class="fa fa-angle-right"></i>
                </span>
              </a>
            </div>
            <!-- End Icon Blocks -->
          </div>

          <div class="col-lg-6 g-mb-30">
            <!-- Icon Blocks -->
            <div class="u-shadow-v19 g-bg-white rounded g-pa-30">
              <div class="media g-mb-15">
                <div class="d-flex mr-4">
                  <span class="g-color-gray-dark-v4 g-font-size-26">
                    <i class="icon-communication-128 u-line-icon-pro"></i>
                  </span>
                </div>
                <div class="media-body">
					<img width="450" height="275" class="rounded" src="{% static 'img/marine.jpg' %}" alt="image">
					<h3 class="h5 g-color-black mb-20">MarineMet</h3>
					<div class="g-width-30 g-brd-bottom g-brd-gray-dark-v5 g-my-15"></div>
					<p class="g-color-gray-dark-v4 g-mb-0">Lorem ipsum dolor sit amet consectetur adipisicing elit. Vero error enim explicabo, tenetur iste vitae voluptatum quae iusto. Repellendus dicta accusamus itaque vero dolorum inventore nihil nisi fugiat odio mollitia.</p>
                </div>
              </div>
              <a class="btn u-btn-primary g-brd-2 g-brd-white g-font-size-13 g-rounded-50 g-pl-20 g-pr-15 g-py-9" href="#">
                Read more
                <span class="align-middle u-icon-v3 g-width-16 g-height-16 g-color-black g-bg-white g-font-size-11 rounded-circle ml-3">
                  <i class="fa fa-angle-right"></i>
                </span>
              </a>
            </div>
            <!-- End Icon Blocks -->
          </div>
        </div>
        <!-- End Icon Blocks -->

        <!-- Icon Blocks -->
        <div class="row">
          <div class="col-lg-6 g-mb-30">
            <!-- Icon Blocks -->
            <div class="u-shadow-v19 g-bg-white rounded g-pa-30">
              <div class="media g-mb-15">
                <div class="d-flex mr-4">
                  <span class="g-color-gray-dark-v4 g-font-size-26">
                    <i class="icon-communication-131 u-line-icon-pro"></i>
                  </span>
                </div>
                <div class="media-body">
					<img src="{% static 'img/live-camera-2.jpg' %}" alt="image">
					<h3 class="h5 g-color-black mb-20">Research</h3>
					<div class="g-width-30 g-brd-bottom g-brd-gray-dark-v5 g-my-15"></div>
					<p class="g-color-gray-dark-v4 g-mb-0">Lorem ipsum dolor sit amet consectetur adipisicing elit. Vero error enim explicabo, tenetur iste vitae voluptatum quae iusto. Repellendus dicta accusamus itaque vero dolorum inventore nihil nisi fugiat odio mollitia.</p>
                </div>
              </div>
              <a class="btn u-btn-primary g-brd-2 g-brd-white g-font-size-13 g-rounded-50 g-pl-20 g-pr-15 g-py-9" href="#">
                Read more
                <span class="align-middle u-icon-v3 g-width-16 g-height-16 g-color-black g-bg-white g-font-size-11 rounded-circle ml-3">
                  <i class="fa fa-angle-right"></i>
                </span>
              </a>
            </div>
            <!-- End Icon Blocks -->
          </div>

          <div class="col-lg-6 g-mb-30">
            <!-- Icon Blocks -->
            <div class="u-shadow-v19 g-bg-white rounded g-pa-30">
              <div class="media g-mb-15">
                <div class="d-flex mr-4">
                  <span class="g-color-gray-dark-v4 g-font-size-26">
                    <i class="icon-communication-130 u-line-icon-pro"></i>
                  </span>
                </div>
                <div class="media-body">
					<img src="{% static 'img/live-camera-2.jpg' %}" alt="image">
					<h3 class="h5 g-color-black mb-20">Public Met</h3>
					<div class="g-width-30 g-brd-bottom g-brd-gray-dark-v5 g-my-15"></div>
					<p class="g-color-gray-dark-v4 g-mb-0">Lorem ipsum dolor sit amet consectetur adipisicing elit. Vero error enim explicabo, tenetur iste vitae voluptatum quae iusto. Repellendus dicta accusamus itaque vero dolorum inventore nihil nisi fugiat odio mollitia.</p>
                </div>
              </div>
              <a class="btn u-btn-primary g-brd-2 g-brd-white g-font-size-13 g-rounded-50 g-pl-20 g-pr-15 g-py-9" href="#">
                Read more
                <span class="align-middle u-icon-v3 g-width-16 g-height-16 g-color-black g-bg-white g-font-size-11 rounded-circle ml-3">
                  <i class="fa fa-angle-right"></i>
                </span>
              </a>
            </div>
            <!-- End Icon Blocks -->
          </div>
        </div>
        <!-- End Icon Blocks -->
      </div>
    </section>




			  
{% endblock content %}
