{% extends "base.html" %}
{% load static %}
{% block content %}
    <main class="main-content">
				<div class="container">
					<div class="breadcrumb">
						<a href="{% url 'home' %}">Home</a>
						<span>Projects</span>
					</div>
				</div>

				<div class="fullwidth-block">
					<div class="container">
						<div class="row">
                        {% for project in projects %}
							<div class="col-md-6">
								<div class="photo">
									<div class="photo-preview photo-detail" data-bg-image="{{project.image.url}}"></div>
									<div class="photo-details">
										<h3 class="photo-title"><a href="#">{{project.title}}</a></h3>
										<p>{{project.content}}</p>
                                        <a href="{% url 'detail_project' project.id %}" class="button">Read more</a>
										{% comment %} <div class="star-rating" title="Rated 1 out of 5"><span style="width:60%"><strong class="rating">1</strong> out of 5</span></div> {% endcomment %}
									</div>
								</div>
							</div>
                        {% endfor %}
						</div>
					</div>
				</div>
				
			</main> <!-- .main-content -->
{% endblock content %}