{% extends 'base.html' %}
{% load static %}
{% block content %}
    <main class="main-content">
				<div class="container-fluid">
					<div class="breadcrumb">
						<a href="{% url 'home'%}">Home</a>
						<span>{{service.title}}</span>
					</div>
				</div>
				<div class="fullwidth-block">
					<div class="container-fluid">
						<div class="row">
							<div class="content col-md-8">
								<div class="post single">
									<h2 class="entry-title">{{service.title}}</h2>
									<div class="featured-image"><img src="{{service.image.url}}" alt=""></div>
									
									<div class="entry-content">
										<p>{{service.content|safe}}</p>
									</div>

								</div>

							</div>
							<div class="sidebar col-md-3 col-md-offset-1">
								<div class="widget">
									<h3 class="widget-title">Hot News</h3>
									<ul class="arrow-list">
										<li><a href="#">Accusamus dignissimos</a></li>
										<li><a href="#">Ducimus praesentium</a></li>
										<li><a href="#">Voluptatum deleniti corrupti</a></li>
										<li><a href="#">Wuos dolores excepturi sint</a></li>
										<li><a href="#">Occaecati provident dolor</a></li>
									</ul>
								</div>
							</div>
						</div>
					</div>
				</div>
			</main> <!-- .main-content -->
{% endblock content %}